#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/59c428e2-e95c-4c64-90de-5a9911aa4940 # 
version: v1
title: XferProtocol_BlockChain


uses:
  banking_types: exchange_modules/13d9279c-5e29-4b40-b236-56641f4e0737/paymentorder_banking_datatypes/1.0.4/payment_banking_datatypes.raml
  
/BlocChainTMessage:
  post:
    body: 
      application/json:
         type: banking_types.Payment
         example: !include Samples/Payment_sample_2.json
         
    responses: 
      200:  
        body: 
          application/json:
            type: banking_types.PaymentResponse
            example:  !include Samples/PaymentResponse_Sample.json
          
  /BlocChainTMessage/{address}:
    get:
      responses: 
        200:  
          body: 
            application/json:
              type: object
              properties: 
                result: 
                  type: array
                  facets: 
                    balance:
                      type: object
                      properties: 
                        amount: number
                        assets:
                        type: array
                        facets:
                          properties: 
                            name:  string
                            assetref: string
                            qty: number
                    myaddresses: [string]
                    addresses: [string]
                    permissions: []
                    data: []
                    items2: []
                    valid: boolean
                    confirmations:  number
                    blockhash: string
                    blockindex:  number
                    blocktime: number
                    txid:  string
                    time: number
                    timereceived: number
                error: string
                id: string     

              example:  !include Samples/blockchainTransactionResult.json